@font-face {
  font-family: 'Orbitron-Medium';
  src: url('../assets/fonts/Orbitron-Medium.eot');
  src: url('../assets/fonts/Orbitron-Medium.woff2') format('woff2'),
       url('../assets/fonts/Orbitron-Medium.woff') format('woff'),
       url('../assets/fonts/Orbitron-Medium.ttf') format('truetype'),
       url('../assets/fonts/Orbitron-Medium.svg#../assets/fonts/Orbitron-Medium') format('svg'),
       url('../assets/fonts/Orbitron-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
