* {
  padding: 0;
  margin: 0
}
#status {
  position: fixed;
  width: 300px;
  height: auto;
  right: 0;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  z-index: 1;
  ul {
    list-style-type: none;
  }
  // #2A1B0A
  // #FFFFFF
  // #EAE087
  // #64E96E
  // #76E0F2
  // #C9ABFF
  // #FC447F
  // #EF9929
}
