@import 'font';
* {
  padding: 0;
  margin: 0;
  font-family: 'Orbitron-Medium';
}
#status {
  position: fixed;
  width: 300px;
  height: auto;
  right: 0;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  z-index: 1;
  ul {
    list-style-type: none;
  }
}
